In [3]:
import pandas as pd
df = pd.read_csv('youtube.csv')
df.head()

   Unnamed: 0                                        video_title
0           0            NewJeans (뉴진스) 'Bubble Gum' Official MV
1           1  [Light Jeans] NIKE Air Max Campaign Shoot Behi...
2           2  [Jeans' ZINE] 조금 이른 봄놀이 EP.2 비가 와도 직진 직진🛶 | Ne...
3           3  ⏰Sleeping beauty…🥀 #NewJeans #뉴진스 #NewJeans_is...
4           4  I'm kickin' back and I'm #NewJeans #뉴진스 #NewJe...

In [5]:
df.isnull().sum()

Unnamed: 0      0
video_title    58
dtype: int64

In [9]:
df_clean = df.dropna()
df_clean

     Unnamed: 0                                        video_title
0             0            NewJeans (뉴진스) 'Bubble Gum' Official MV
1             1  [Light Jeans] NIKE Air Max Campaign Shoot Behi...
2             2  [Jeans' ZINE] 조금 이른 봄놀이 EP.2 비가 와도 직진 직진🛶 | Ne...
3             3  ⏰Sleeping beauty…🥀 #NewJeans #뉴진스 #NewJeans_is...
4             4  I'm kickin' back and I'm #NewJeans #뉴진스 #NewJe...
..          ...                                                ...
845         845  민지 걱정하는 팜 #뉴진스 #민지 #하니 #다니엘 #해린 #혜인 #버니즈 #팜니쥬 ...
846         846                     (New Jeans) 뉴진스 다니엘 입덕모음.zip2📂
847         847                           해린은 어떻게 뉴진스 대표 춤꾼이 되었을까?
848         848                                            슈가 앤 스타
849         849  MIN HEEJIN WILD SHOCKING KAKAO CHAT (ALLEGEDLY...

[792 rows x 2 columns]

In [11]:
df_clean.to_csv('youtube_clean.csv', encoding="utf-8-sig")

In [18]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 330.3 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 367.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [30]:
# 파이썬에서 sql에 로그인하여 지정된 스키마에 데이터를 업로드하기
import pandas as pd
from sqlalchemy import create_engine

# mysql 연결설정
engine = create_engine('mysql+pymysql://root:1234@localhost/youtube')

# csv 파일에서 데이터 읽기
csv_file = "youtube_clean.csv"
df = pd.read_csv(csv_file)

df.head()

# 데이터를 mysql 테이블에 작성하기
table_name = "my_youtube_info"

try:
    df.to_sql(name = table_name, con = engine, if_exists= "replace", index=False)
    print()
except Exception as e:
    print(e, "에러났습니다")

In [28]:
new_df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)
new_df.head()

                                         video_title
0            NewJeans (뉴진스) 'Bubble Gum' Official MV
1  [Light Jeans] NIKE Air Max Campaign Shoot Behi...
2  [Jeans' ZINE] 조금 이른 봄놀이 EP.2 비가 와도 직진 직진🛶 | Ne...
3  ⏰Sleeping beauty…🥀 #NewJeans #뉴진스 #NewJeans_is...
4  I'm kickin' back and I'm #NewJeans #뉴진스 #NewJe...

In [32]:
table_name = "my_youtube_info2"

try:
    new_df.to_sql(name = table_name, con = engine, if_exists= "replace", index=False)
    print()
except Exception as e:
    print(e, "에러났습니다")

In [4]:
pip install collection

Collecting collectionNote: you may need to restart the kernel to use updated packages.

  Downloading collection-0.1.6.tar.gz (5.0 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: collection
  Building wheel for collection (pyproject.toml): started
  Building wheel for collection (pyproject.toml): finished with status 'done'
  Created wheel for collection: filename=collection-0.1.6-py3-none-any.whl size=5112 sha256=41ae1926003466009852e145c863c456f27ea91bb0efe4c58b35b6560354dcfd
  Stored in directory: c:\users\ezenic-014\appdata\local\pip\cache\wheels\12\bb\2e\e430efbb8e7a845a40292527c78c51d201db424b763ae2ccdb
Successfully built collection
Installing collected packages: collection
Successfully installed collection-0.1.6